<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>示例文件</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pollls/style.css' %}"/>
</head>
<body>
这是首页显示文件内容的页面
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li>
    <a href="/polls/{{ question.id }}/detail/">{{ question.question_text }}</a>
    <a href="{% url 'poll:detail' question.id %}">{{ question.question_text }}</a>
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>no data</p>
{% endif %}
</body>
</html>