{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <link type="text/css" href="{% static 'demo/mystyle.css' %}" rel="stylesheet" />#}
    <link type="text/css" rel="stylesheet" href="{% static 'demo/mystyle.css' %}">
    <style>
        .my{
            font-size: 30pt;
            background-color: #4400ff;
        }
    </style>
</head>
<body>
{#<img src="{{ STATIC_URL }}images\bb.gif" />#}
<img src="{% static 'images\bb.gif' %}" />
hello world new !
<br />
{{ item }}
<br/>
<p id="myid">aaaaaaaaaaaaaaaaa</p>
<p class="myclass">
    {{ personname }}
</p>
{{ personname }}
<br/>
{{ list }}
</body>
</html>